.text {
  font-size: 20vw;
  color: black;
  font-weight: bold;
}

.subText {
  font-size: 2vw;
  color: black;
  font-weight: bold;
}

.zoomableDiv {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  transition: transform 0.3s ease;
}